.Icon--pad-right {
  margin-right: $base-size / 2;
}

.Icon--pad-left {
  margin-left: $base-size / 2;
}

small .Icon--pad-right {
  margin-right: $base-size / 4;
}

small .Icon--pad-left {
  margin-left: $base-size / 4;
}
