.LanguageSwitcher {
  display: flex;
  color: $mrbluesky;
  justify-content: flex-start;
  align-items: center;
  margin: $base-size * 2 0;

  .Icon {
    font-size: 20px;
  }
}

.LanguageSwitcher__button {
  background-color: transparent;
  border: none;
  color: $mrbluesky;
  font-family: $font-family-body;
  margin-right: $base-size / 2;
  cursor: pointer;
}

.LanguageSwitcher__button--selected {
  font-weight: 700;
  border-bottom: 1px solid $mrbluesky;
}
