$base-size: 20px;

$mrbluesky: #ffffff;
$mrbluesky-50: #94caae;
$mrbluesky-25: #3E3E3E;
$mrbluesky-10: #3E3E3E;
$mrbluesky-5: #999999;

$hellosunshine: #94caae;
$hellosunshine-50: #ddf5bb;
$hellosunshine-25: #e2f6c5;
$hellosunshine-10: #ecf9d8;
$hellosunshine-5: #f1fbe2;

$nightsky: #094060;
$nightsky-75: #ffffff;
$nightsky-50:  #84a0b0;
$nightsky-25: #b5c6cf;
$nightsky-10: #e6ecef;
$nightsky-5: #f2f5f7;

$white: #ffffff;
$black: #333333;

$positivegreen: #00e399;
$dangerred: #ff3b27;

$font-family-heading: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Breakpoints
$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
